06.帳票WEB API(旧式WCF+SOAP)－クラウド連携中/VB/ClientForm/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://paopao-hce5b6hcfwaec0b4.japaneast-01.azurewebsites.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://paopao-hce5b6hcfwaec0b4.japaneast-01.azurewebsites.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://paopao-hce5b6hcfwaec0b4.japaneast-01.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports単純なサンプル_InputMessage">
    <wsdl:part name="parameters" element="tns:getReports単純なサンプル" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports単純なサンプル_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReports単純なサンプルResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports10の倍数_InputMessage">
    <wsdl:part name="parameters" element="tns:getReports10の倍数" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports10の倍数_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReports10の倍数Response" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports見積書_InputMessage">
    <wsdl:part name="parameters" element="tns:getReports見積書" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports見積書_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReports見積書Response" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports郵便番号_InputMessage">
    <wsdl:part name="parameters" element="tns:getReports郵便番号" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports郵便番号_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReports郵便番号Response" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports広告_InputMessage">
    <wsdl:part name="parameters" element="tns:getReports広告" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports広告_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReports広告Response" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports請求書_InputMessage">
    <wsdl:part name="parameters" element="tns:getReports請求書" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports請求書_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReports請求書Response" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports商品一覧_InputMessage">
    <wsdl:part name="parameters" element="tns:getReports商品一覧" />
  </wsdl:message>
  <wsdl:message name="IService1_getReports商品一覧_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReports商品一覧Response" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReports単純なサンプル">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getReports単純なサンプル" message="tns:IService1_getReports単純なサンプル_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getReports単純なサンプルResponse" message="tns:IService1_getReports単純なサンプル_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReports10の倍数">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getReports10の倍数" message="tns:IService1_getReports10の倍数_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getReports10の倍数Response" message="tns:IService1_getReports10の倍数_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReports見積書">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getReports見積書" message="tns:IService1_getReports見積書_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getReports見積書Response" message="tns:IService1_getReports見積書_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReports郵便番号">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getReports郵便番号" message="tns:IService1_getReports郵便番号_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getReports郵便番号Response" message="tns:IService1_getReports郵便番号_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReports広告">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getReports広告" message="tns:IService1_getReports広告_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getReports広告Response" message="tns:IService1_getReports広告_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReports請求書">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getReports請求書" message="tns:IService1_getReports請求書_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getReports請求書Response" message="tns:IService1_getReports請求書_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReports商品一覧">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getReports商品一覧" message="tns:IService1_getReports商品一覧_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getReports商品一覧Response" message="tns:IService1_getReports商品一覧_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReports単純なサンプル">
      <soap:operation soapAction="http://tempuri.org/IService1/getReports単純なサンプル" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReports10の倍数">
      <soap:operation soapAction="http://tempuri.org/IService1/getReports10の倍数" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReports見積書">
      <soap:operation soapAction="http://tempuri.org/IService1/getReports見積書" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReports郵便番号">
      <soap:operation soapAction="http://tempuri.org/IService1/getReports郵便番号" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReports広告">
      <soap:operation soapAction="http://tempuri.org/IService1/getReports広告" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReports請求書">
      <soap:operation soapAction="http://tempuri.org/IService1/getReports請求書" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReports商品一覧">
      <soap:operation soapAction="http://tempuri.org/IService1/getReports商品一覧" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://paopao-hce5b6hcfwaec0b4.japaneast-01.azurewebsites.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>